*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#000;
  color:#fff;
}

/* HEADER */
.header{
  padding:12px;
  text-align:center;
  border-bottom:1px solid #222;
}

/* PROFILE */
.profile{
  max-width:430px;
  margin:auto;
  padding:15px;
}

.top{
  display:flex;
  align-items:center;
}

.dp{
  width:90px;
  height:90px;
  border-radius:50%;
  overflow:hidden;
  border:3px solid #dd2a7b;
}
.dp img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.stats{
  display:flex;
  justify-content:space-around;
  flex:1;
  text-align:center;
}
.stats span{
  display:block;
  font-weight:bold;
}

.bio{
  margin-top:10px;
  font-size:14px;
}

.buttons{
  display:flex;
  gap:10px;
  margin-top:12px;
}
.buttons button{
  flex:1;
  padding:8px;
  background:#121212;
  color:#fff;
  border:1px solid #333;
  border-radius:6px;
  font-weight:bold;
}

/* GRID */
.grid{
  max-width:430px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:2px;
}

.post{
  aspect-ratio:1 / 1;
  background:#111;
  overflow:hidden;
}

.post video{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}
